/*
font-family: 'Lobster', cursive;    cursive
font-family: 'Fjalla One', sans-serif;   normal
*/

@media screen and (max-width:1200px) {
    .tab
	{
		display:none;
	}
	
    header	{
	width:auto;	
	}
	
    .menu-trigger
	{
		display:block;
		width:auto;
		font-weight:bold;
        font-family: 'Lobster', cursive;
		color:#f04e18;
		font-size:25px;
	} 
	
	.menu-trigger1
	{	
		padding:5px;
		margin-top:150px;
        background-color:#004F69;
	}
	
    nav
    {
        width:auto;
    }
    .nav-menu
	{
		display:none;
	}
	
	.nav-expanded
	{
		display:block;
	}
	.head1
	{
		display:none;
	}
	
	nav ul li 
	{
	float: none;
	}
	
    .logo
    {
        width:90%;
        margin:2px;
    }
	
	.footerMedia
	{
	width:100%;
	clear:right;	
	}

	.copyright
	{
	padding-left:50px;
	padding-right:50px;
	float:left;	
	width:100%;
	}

	.addressUL
	{
	margin-left:10%;
	float:left;
	width:100%;
	}
	
	.addressUL1
	{	float:left;
	list-style-type:none;
	width:100%;
	
	}
	
	.cardContainer
	{
	margin-left:0%;
	width:100%;
	}
	
    .desktop_showing{
        display: none;
    }

    
.hidden{
    display:none;
}
	
	.mainImage
	{
		width:97%;
		padding:5px;
	}
	
	#content
	{
		width:100%;
	}
	
	.mlink1 {
    text-align: center;
    color:#f04e18;
    font-family: 'Lobster', cursive;
    background-color:#004F69;
    border: 3px solid black;
    text-decoration: none;
    margin:5px;
    display: block;
}

.MobMainTextBox {
    color:#f04e18;
    font-family: 'Fjalla One', sans-serif;
    background-color:#004F69;
    border: 3px solid black;
    text-decoration: none;
    margin:5px;
    display:block;
}

.MobMainTextBox:hover {
    color: red;
}

.mlink1:hover {
    color: red;
    
} 

#mhidden {
    display:block;
}

.mobIndexContent {
    display:block;
}



.linkstyle1 {
    display: block;
    text-decoration:none;
}

.MobHidden {
    display:block;
}

.aboutHeading1
{
	font-size:18px;
}

.serviceContent {
    display:none;
}

footer
{
	width:100%;
}

.contactMap {
    float:none;
    margin:10px;
    width:80%; 
    height:100%;
}    

.aboutPhoto {
    width:100%;
    margin:0 auto;
}
 
#moreBox {
    border:2px solid black;
    background-color:#004F69;
    color:#f04e18;
    width:90%;
    margin:0 auto;
    float:none;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    text-decoration: none;
}
    
.imageSlider {
    margin:0 auto;
    width:90%;
    margin-top:10px;
    color:brown;
}
 
.serviceBackground
{
     width:100%;
}


} /* end bracket for media style */